<center><h1> Représentation des données : types construits - Tuples</center></h1>

Si nous travaillons avec un grand nombre de données, comme le relevé des températures sur une année par exemple, il peut être interessant de regrouper les données.  
* Ces données étant enregistrées, elle n'ont pas lieu d'être modifiées, et nous les regrouperons dans des **tuples**.
* Dans le cas, de compte banciare, le solde de chaque compte est ammené à changer, nous utiliserons des **listes** qui permettent de modifier les valeurs comprises dans la liste (les listes sont mutables)  
Pour les listes et les tuples, nous accederons aux différentes entrées grace "à leur place" (leur numéro) dans la liste.
* Par contre dans une bibliothèque, si on veut accéder à un livre, ceux ci sont en général classés par auteur, on va donc classer les livres par un mot clé, en python c'est le **dictionnaire** qui permet de procéder de la sorte.

# Créer un tuple

Pour écrire un tuple il faut séparer les différentes données par des virgules. Les données peuvent être de type différents.

In [1]:
tuple1 = 2,1,3,'bonjour'

In [2]:
tuple1

(2, 1, 3, 'bonjour')

l'affichage des tuples inclue des parenthèses.

In [3]:
type (tuple1)

tuple

### Pour créer un tuple vide

In [4]:
tuple_vide = ()

In [5]:
type (tuple_vide)

tuple

### Pour créer un tuple contenant un seul élément, il faut mettre une virgule après la donnée

In [6]:
tuple_1_element = 5,
tuple_1_element2 = (6.0,)

In [7]:
tuple_1_element

(5,)

In [8]:
tuple_1_element2

(6.0,)

# Accéder aux éléments

On accède aux éléents en donnant entre crochets l'indice de l'élément. 
**Attention les indices commencent à 0**

In [9]:
tuple = ('elt0','elt1','elt2',3,4,5)

In [10]:
tuple[0]

'elt0'

In [11]:
tuple[2]

'elt2'

Pour obtenir des données à partir de la fin du tuple, o,n incrément en négatif à partir de la valeur [-1] :  
le dernier élément  est tuple[-1], l'avant dernier tuple[-2]..

In [12]:
tuple[-3]

3

#### On peut accéder à plusieurs éléments

A partir du début du tuple, on utilise [:i], : pour le début, i qui prend la fin de la séquence (non comprise)

In [13]:
tuple[:4]

('elt0', 'elt1', 'elt2', 3)

In [14]:
tuple[:3]

('elt0', 'elt1', 'elt2')

Pour avoir la fin du tuple, tuple[n:], on commence par le nieme element jusqu'au dernier (attention on incrémente toujours depuis 0)

In [15]:
tuple[2:]

('elt2', 3, 4, 5)

Pour voir une partie du tuple, **tuple[i:j]**, on commence par voir le ième element jusqu'au (j-1)ième.

## Ajouter un élément

Pour ajouter un élément, on va utiliser la concaténation avec le **+**.

In [16]:
# ajout à la fin du tuple
tuple = tuple + ('elt_fin',)

In [17]:
tuple

('elt0', 'elt1', 'elt2', 3, 4, 5, 'elt_fin')

In [18]:
# ajout au début  du tuple
tuple = ('elt_debut',)+ tuple

In [19]:
tuple

('elt_debut', 'elt0', 'elt1', 'elt2', 3, 4, 5, 'elt_fin')

In [20]:
#ajout en 3eme position par exemple
tuple = tuple[:3]+('elt_3eme_position',)+tuple[3:]

In [21]:
tuple

('elt_debut', 'elt0', 'elt1', 'elt_3eme_position', 'elt2', 3, 4, 5, 'elt_fin')

Il existe également pour concaténer l'opérateur *

In [22]:
tuple3=[4,5]
3*tuple3

[4, 5, 4, 5, 4, 5]

## Appartenance à un tuple - Parcourir un tuple

On teste l'appartenance à un tuple avec **in**, qui va renvoyer un booléen.

In [23]:
4 in tuple3

True

Et on peut s'en servir pour parcourir un tuple

In [24]:
for elt in tuple:
    print (elt)

elt_debut
elt0
elt1
elt_3eme_position
elt2
3
4
5
elt_fin